body,
html {
	font-family: Verdana, sans-serif;
	color: #121212;
	background-color: #FAFAFA;
}

h1,
h3 {
	font-weight: normal;
}

#results {
	font-family: "SourceCodePro", monospace;
	white-space: pre;
}