.mat-form-field {
  min-width: 30em;
}

.mat-progress-bar {
  max-width: 60em;
}

.mat-header-cell {
  padding: 1em;
}

.mat-column-error {
  text-align: center;
  min-width: 5em;
}

.mat-column-gateway {
  min-width: 50em;
}
